<div class="container">
  <div class="card" style="width: 18rem">
    <img src="https://rickandmortyapi.com/api/character/avatar/1.jpeg" class="card-img-top" alt="..." />
    <div class="card-img-overlay">
      <h5 class="card-title">{{nombre}}</h5>
      <p class="card-text">
        También conocido como Rick (C-137), es uno de los dos protagonistas principales (junto a Morty Smith) y uno de
        los cinco personajes principales de la serie de comedia animada para adultos de ciencia ficción Rick y Morty.
      </p>
      <a href="#" class="btn">Read More</a>
    </div>
  </div>
</div>