<div class="container">
    <div class="card" style="width: 18rem;">
        <img src={{character.image}} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-center">{{character.name}}</h5>
            <h6 class="card-text"><b>Status: </b> {{character.status}}</h6>
            <h6 class="card-text"><b> Species: </b> {{character.species}}</h6>
            <h6 class="card-text"><b>Type: </b>{{character.type}}</h6>
            <h6 class="card-text"><b>Gender: </b>{{character.gender}}</h6>
            <h6 class="card-text"><b>Origin: </b>{{character.origin.name}}</h6>
            <h6 class="card-text"><b>Location: </b>{{character.location.name}}</h6>
            <h6 class="card-text"><b>Created: </b>{{character.created}}</h6>
            <a href="" class="btn btn-primary">Return</a>
        </div>
    </div>
</div>